.footer {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 18em;
}

.footer img {
  width: 18px;
  margin-top: -6px;
  background-color: black;
  border-radius: 3px;
}

.footer img:hover {
  background-color: white;
  transition: 0.5s;
}

.fa-github {
  font-size: 20px;
  color: black;
}

.fa-github:hover {
  color: white;
  transition: 0.5s;
}

.coder {
  color: #46b41b;
}

.coder:hover {
  color: white;
}

br {
  display: none;
}

@media only screen and (max-width: 414px) {
  .footer {
    font-size: 10.5px;
  }
  .footer img {
    width: 13px;
  }

  .fa-github {
    font-size: 15px;
    color: black;
  }

  br {
    display: block;
  }
}
