.footer {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer img {
  width: 18px;
  margin-top: 0px;
  background-color: black;
  border-radius: 3px;
}

.footer img:hover {
  background-color: white;
  transition: 0.5s;
}

.fa-github {
  font-size: 20px;
  color: black;
}

.fa-github:hover {
  color: white;
  transition: 0.5s;
}

.Coder {
  color: #46b41b;
}

.Coder:hover {
  color: white;
}

@media only screen and (max-width: 414px) {
  .footer {
    font-size: 10.5px;
    margin-top: 9em;
  }
  .footer img {
    width: 12px;
  }

  .fa-github {
    font-size: 15px;
    color: black;
  }
}
